body {
    background-color: rgba(189, 148, 148, 0.51);
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 75ms;
}

.selection:hover {
    transform: scale(1.2);
}

.uitslag {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1
    , 1fr);
    justify-items: center;
    align-items: center;
}

.uitslag-score {
    margin-left: .1rem;
    font-size: 1rem;
    color: #333;
}

.result.selection {
    opacity: .3;
}

.result-selection.winner{
    opacity: 1;
    font-size: 1.5rem;
}